fastapi
uvicorn
sqlmodel
alembic
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
langchain-google-genai
google-api-python-client
youtube-transcript-api
eyepop
httpx
pydantic-settings
google-generativeai
pyjwt
google-auth
duckduckgo-search
    
